/application/cache/*
!/application/cache/index.html
!/application/cache/.htaccess

/application/logs/*
!/application/logs/index.html
!/application/logs/.htaccess

/uploads/*
!/uploads/index.html
!/uploads/.htaccess

/user_guide/
/vendor/
/node_modules/

.env

*.log
*.tmp
*.bak

.vscode/
.idea/

application*.zip